# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folders
venv/
.env/
env/

# Logs and databases
*.log
*.sqlite3

# System files
.DS_Store
Thumbs.db

# Editor folders and files
.vscode/
.idea/
*.swp

# Proxy file (if it is generated locally and you don't want to version it)
proxy.txtt

